*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-image: linear-gradient(to left, #F9DC88 ,#D1BD8F);
    header{
        background-color: #D1BD8F;
        position: sticky;
        top: 0;
        nav{
            .menu{
                color: black;
                li{
                    font-size:  40px;
                    display: inline-block;
                 text-align: center;
                    text-transform: uppercase;
                    margin: 10px;
                    padding: 10px;
                    a{
                        color: black;
                        font-family:Georgia, 'Times New Roman', Times, serif;
                        &:hover{
                            background-color:#B8994E;
                            transform: scale(1.2);
                        }
                    }
                }
            }
        }
        h1{
            text-align: center;
            margin: 80px;
            padding: 80px;
        }
    }
     main{
        .container{ display: grid;
            grid-template-columns: 38% 23%;
            grid-template-rows: 45% 40% 40%;
            grid-auto-flow: row;
            justify-content: center;
            align-content: center;
             grid-template-areas:
              "Velas1 Velas2"
              "aca aca2"
              "parrafo parrafo";
            
                .Velas1{
                    grid-area: Velas1;
                    div{
                        .aca{
                            grid-area: aca;
                            text-align: center;
                            margin: 10px;
                            .Velas2{
                                grid-area: Velas2;
                                div{
                                    .aca2{
                                        grid-area: aca2;
                                        text-align: center;
                                }
                            }
                        }
                    }
                }
            }
        }
        
    }
    
}

/*estilos de parrafo y img*/
div{
    .parrafo{
        text-align: center;
        text-transform: uppercase;
        grid-area: parrafo;
    }
}
img{
    width: 400px;
    height: 400px;
}

